apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: 098574378828.dkr.ecr.ap-south-1.amazonaws.com/flask-nginx-app:latest
        ports:
        - containerPort: 5000
